<% if user_signed_in? %>

  <h1>Friends List</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Twitter</th>
        <th scope="col">UserId</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <% @friends.each do |friend| %>
          <% if friend.user == current_user %> 
          <%= render friend %>
          <% end %>
        <% end %>
    </tbody>
  </table>


  <%= link_to "New friend", new_friend_path , class:"btn btn-primary" %>
<% else %>

<% end %>
